body {
  margin: 10;
  padding: 10;
  line-height: 30px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
}

#giphies {
  border: 1px solid #e0e0e0;
  padding: 10;
  text-align: center;
  min-height: 500px;
}

.page-title {
}
footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8em;
}
